<% let a = 0; %>
<div class="article-container">
  <% posts.forEach(post => { if (a >= 10) return; a = a + 1; %>
  <div class="article">
    <p><%= post.title %></p>
    <img src="<%= post.path %>" alt="<%= post.title %>" />
    <div class="vote" data-post-id="<%= post.id %>">
      <button class="vote-button" data-vote="plus">&plus;</button>
      <div class="vote-count">
        <span class="vote-upvote"><%= post.upvotes %></span>
        /
        <span class="vote-downvote"><%= post.downvotes %></span>
      </div>
      <button class="vote-button" data-vote="minus">&minus;</button>
    </div>
    <% if (user && user.isAdmin) { %>
    <form action="/admin/delete/<%= post.id %>" method="post">
      <button type="submit">Delete</button>
    </form>
    <% } %>
  </div>
  <% }); %>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
  $(document).ready(function () {
    $(".vote-button").click(function () {
      const postId = $(this).parent().data("post-id"); 
      const vote = $(this).data("vote");
      const parentDiv = $(this).parent();

      $.ajax({
        url: "/images/vote",
        method: "POST",
        data: { postId, vote },
        success: function (response) {
          parentDiv.find(".vote-upvote").text(response.upvotes);
          parentDiv.find(".vote-downvote").text(response.downvotes);
        },
        error: function (error) {
          console.error(error);
        },
      });
    });
  });
</script>
<div class="pagination">
  <%if (page > 1){%> <% if(page = 2){%>
  <a href="/">&laquo; Previous</a>
  <%}else{%>
  <a href="/page/<%= page - 1 %>">&laquo; Previous</a>
  <%}}%>
  <a href="/page/<%= page + 1 %>">Next &raquo;</a>
</div>
