<% let a = 0; %>
<div class="article-container">
  <% images.forEach(image => { if (a >= 10) return; a = a + 1; %>
  <div class="article">
    <p><%= image.title %></p>
    <img src="<%= image.path %>" alt="<%= image.title %>" />
    <div class="vote" data-image-id="<%= image.id %>">
      <button class="vote-button" data-vote="plus">&plus;</button>
      <div class="vote-count">
        <span class="vote-upvote"><%= image.upvotes %></span>
        /
        <span class="vote-downvote"><%= image.downvotes %></span>
      </div>
      <button class="vote-button" data-vote="minus">&minus;</button>
    </div>
    <% if (user && user.isAdmin) { %>
    <form action="/admin/delete/<%= image.id %>" method="post">
      <button type="submit">Delete</button>
    </form>
    <% } %>
  </div>
  <% }); %>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
  $(document).ready(function () {
    $(".vote-button").click(function () {
      const imageId = $(this).parent().data("image-id");
      const vote = $(this).data("vote");
      const parentDiv = $(this).parent(); // Save a reference to the parent div

      $.ajax({
        url: "/images/vote",
        method: "POST",
        data: { imageId, vote },
        success: function (response) {
          // Update the vote counts in the DOM using the saved reference
          parentDiv.find(".vote-upvote").text(response.upvotes);
          parentDiv.find(".vote-downvote").text(response.downvotes);
        },
        error: function (error) {
          console.error(error);
        },
      });
    });
  });
</script>
<div class="pagination">
  <%if (page > 1){%> <% if(page = 2){%>
  <a href="/">&laquo; Previous</a>
  <%}else{%>
  <a href="/page/<%= page - 1 %>">&laquo; Previous</a>
  <%}}%>
  <a href="/page/<%= page + 1 %>">Next &raquo;</a>
</div>
